@font-face {
    font-family: DM Sans;
    src: url("./fonts/DMSans-VariableFont_opsz\,wght.ttf");
}
.img-h{
    /* height: 100px !important; */
}
.btn-custom{
    background-color: #5fcac7 !important;
    color: white !important;
    line-height: 40px !important;
    font-weight: 500 !important;
    padding: 0px 15px !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;

}
.c-2{
    background-image: url(./imges/carousel\ 4.jpg);
    height: 140vh !important;
}
.btn2-custom{
    background-color: #5fcac7 !important;
    color: white !important;
    line-height: 40px !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    /* padding: 0px 15px !important; */
    padding: 10px 30px !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;
    font-family: DM Sans !important;

}
.specialties-h1{
    color: #4b4342 !important;
    line-height: 70px !important;
    font-size: 3.625rem !important;
    font-family: DM Sans !important;
}
.specialties-caption{
    color: #4b4342 !important;
    font-weight: 500 !important;
    text-align: center !important;
    font-family: DM Sans !important;
    font-size: 20px !important;
}
.bg1{
    background-image: url(./imges/background\ img\ 1.jpg) !important;
    padding-top: 90px !important;
}
.bg2{
    /* background-image: url(./imges/background\ img\ 2.jpg) !important;
    opacity: 0.8 !important; */
    background-color: rgb(95, 202, 199) !important;
}
.h-custom{
    height: 90vh !important ;
}
.magic-div{
    padding: 65px 0px 75px 0px !important;
    border: 2px solid white;
    border-radius: 10px !important;
    width: 60% !important;
}
.cake i{
    font-size: 62px !important;
}
.magic-para{
     font-family: DM Sans !important;
     font-weight: 400 !important;
     font-size: 16px !important;
     line-height:26px !important;
     width: 62% !important;
}
.btn3-custom{
    border: 2px solid white !important;
    color: white !important;
    border-radius: 50px !important;
    line-height: 50px !important;
    font-weight: 500 !important;
    padding: 0px 25px !important;
    font-size: 18px !important;
     font-family: DM Sans !important;

}
.btn3-custom:hover{
    background-color: white !important;
    color: #4b4342 !important;
    
}
.magic-h2{
     font-family: DM Sans !important;
    
}
.custom:hover{
    border-bottom: 2px solid #5fcac7 !important;
}

/* media queries */
@media screen and (max-width:566px) {
    .magic-div{
        width: 100% !important;
    }
    .magic-para{
        width: 100% !important;
    }
}
@media screen and (min-width:567px) and (max-width:767px) {
    .magic-div{
        width: 100% !important;
    }
    .magic-para{
        width: 80% !important;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
     .magic-div{
        width: 80% !important;

    }
    .magic-para{
        width: 90% !important;
    }
}
@media screen and (min-width:992px) and (max-width:1199px) {
     .magic-div{
        width: 70% !important;
    }
    .magic-para{
        width: 76% !important;
    }
    .col-custom{
        width: 30% !important;
    }
    .col-img{
        width: 70% !important;
    }
}
@media screen and (min-width:1200px) {
     .magic-div{
        width: 70% !important;
    }
    .magic-para{
        width: 76% !important;
    }
    .col-custom{
        width: 30% !important;
    }
    .col-img{
        width: 70% !important;
    }
    .navdiv{
        width:70% !important;
    }
    .img-h{
        margin-left: 200px !important;
    }
    .gap-custom{
    gap: 120px !important;
    }
}