@font-face {
    font-family: DM Sans;
    src: url("./fonts/DMSans-VariableFont_opsz\,wght.ttf");
}
.img-h{
    height: 135px !important;
}
.btn-custom{
    background-color: #5fcac7 !important;
    color: white !important;
    line-height: 40px !important;
    font-weight: 500 !important;
    padding: 0px 15px !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;
}
.btn-custom:hover{
    background-color: #4ca7a2 !important;
}
.cl-1{  
     background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("./imges/carousel1.jpg") !important;
  background-size: cover;
  background-position: center;
    height: 120vh !important;
    width: 100% !important;
}
.cl-2{
     background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("./imges/carousel\ 2.jpg") !important;
  background-size: cover;
  background-position: center;
    height: 120vh !important;
    width: 100% !important;
}
.cl-3{
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("./imges/carousel\ 3.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    height: 120vh !important;
    width: 100% !important;
}
.font-custom{
    font-family: DM Sans !important;
}
.btn2-custom{
    background-color: #5fcac7 !important;
    color: white !important;
    line-height: 40px !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    padding: 10px 30px !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;
    font-family: DM Sans !important;
}
.specialties-h1{
    color: #4b4342 !important;
    line-height: 70px !important;
    font-size: 3.625rem !important;
    font-family: DM Sans !important;
}
.specialties-caption{
    color: #4b4342 !important;
    font-weight: 500 !important;
    text-align: center !important;
    font-family: DM Sans !important;
    font-size: 20px !important;
}
.bg1{
    background-image: url(./imges/background\ img\ 1.jpg) !important;
    padding-top: 90px !important;
}
.bg2{
    background-image: 
    linear-gradient(   
      rgb(95, 202, 199, 0.8)
    ),
    url("./imges/background\ img\ 2.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.h-custom{
    height: 90vh !important ;
}
.magic-div{
    padding: 65px 0px 75px 0px !important;
    border: 2px solid white;
    border-radius: 10px !important;
    width: 60% !important;
}
.cake i{
    font-size: 62px !important;
}
.cake2 i{
    font-size: 62px !important;
}
.bg-recipes1{
     background-image: 
    linear-gradient(   
      rgb(255, 255, 255, 0.6)
    ),
    url("./imges/background\ img\ 3.jpg") !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden !important;
}
.bg-recipes2{
    background-image: 
    linear-gradient(   
      rgb(255, 255, 255, 0.6)
    ),
    url("./imges/background\ img\ 4.jpg") !important;
    height:85vh !important ;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden !important;
}
.profile img{
    border-radius: 50% !important;
}
.recipes-h2{
    color: #4b4342 !important;
    line-height: 40px !important;
    font-size: 2.625rem !important;
    font-family: DM Sans !important;
}
.recipes-c1 p{
      color: #4b4342 !important;
      font-size: 22px !important;
}
.custom-icons{
    border-radius: 50% !important;
        background-color: #5fcac7 !important;
         opacity: .5 !important;
}
.custom-icons:hover{
             border-radius: 50% !important;
        background-color: #49aaa7 !important;
        transition: all .25s ease !important;
}
.magic-para{
     font-family: DM Sans !important;
     font-weight: 400 !important;
     font-size: 16px !important;
     line-height:26px !important;
     width: 62% !important;
}
.btn3-custom{
    border: 2px solid white !important;
    color: white !important;
    border-radius: 50px !important;
    line-height: 50px !important;
    font-weight: 500 !important;
    padding: 0px 25px !important;
    font-size: 18px !important;
     font-family: DM Sans !important;
}
.btn3-custom:hover{
    background-color: white !important;
    color: #4b4342 !important;   
}
.magic-h2{
     font-family: DM Sans !important; 
}
.custom:hover{
    border-bottom: 2px solid #5fcac7 !important;
}
.p-custom{
    font-size: 25px !important;
    font-weight: 400 !important;
    font-family: DM Sans !important;
}
.col-custom2{
  width: 80% !important;
}
.col-img2{
    width: 100% !important;
    border-radius: 10px !important;
}
.img-profile{
    border-radius: 50% !important;
}
.bg-clients{
     background-image: 
    linear-gradient(   
      rgb(255, 145, 164, 0.7)
    ),
    url("./imges/background\ img\ 5.jpg") !important;
}
.client-div{
    width: 40% !important;
}
.client-div div p{
    font-size: 16px !important;
    font-family: DM Sans !important;
    font-weight: 500 !important;
}
.customer{
        color: #ebeaed !important;
}
.table{
    border: none !important;
    outline: none !important;
}
.me-custom{
    margin-right: 150px !important;
}
.bg-6{
     background-image:
    linear-gradient(
      rgb(75, 67, 66, 0.8)
    ),
    url("./imges/background\ img\ 6.jpg") !important;
    /* opacity: 1 !important; */
    height: 70vh !important;
     background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden !important;
        background-color: #eeeeee !important;
}
.sweet-gap{
    gap: 65px !important;
}
.sweet-h2{
        font-weight: 700 !important;
        font-family: 'DM Sans', sans-serif !important;
    font-size: 3.625rem !important;
    line-height: 70px !important;
}
.input-div input{
        border: 2px solid #ebeaed !important;
    opacity: .4 !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: #ffffff !important;
    background-color: #ffffff !important;
    background-color: transparent !important;
        font-family: 'DM Sans', sans-serif !important;
    line-height: 32px !important;
    height: 60px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 30px !important;
   
}
.table-h2{
        font-family: 'DM Sans', sans-serif !important;
    font-size: 2.625rem !important;
    line-height: 52px !important;
    color: #4b4342 !important;
    font-weight: 700;
    
}
.table p{
        color: #4b4342 !important;
        font-family: 'DM Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 26px !important;
    margin-top: 15px !important;
}
.m-custom{
    margin-left: 200px !important;
}
.ques-div{
    padding: 35px !important;
    background-color: #f3f2f4 !important;
    border-radius: 6px !important;
    margin-left: auto !important;
    height: 30vh !important;
}
.ques-div h3{
        font-family: 'DM Sans', sans-serif !important;
    font-size: 20px !important;
    /* line-height: 32px !important; */
        font-weight: 500 !important;
    color: #4b4342 !important;
}
.heading{
        letter-spacing: 2px !important;
    font-weight: 500 !important;
        font-family: 'DM Sans', sans-serif !important;
    font-size: 1.375rem !important;
    line-height: 32px !important;
    color: #919dab !important;
}
.ques-div p{
        color: #5fcac7 !important;
}
.button-div button{
     border: none !important;
    outline: none !important;
    border-radius: 50px !important;
    background-color: #5fcac7 !important;
    border-color: #5fcac7 !important;
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: 1.25rem;
    padding: 10px 40px !important;
    font-family: DM Sans !important;
}
.button-div button:hover{
    background-color: #52ada9 !important;
}
.p-div p{
        font-family: 'DM Sans', sans-serif !important;
    font-size: 1rem !important;
    line-height: 26px !important;
        letter-spacing: 2px !important;
    font-weight: 500 !important;
}
.social-icons{
        margin-left: 15px !important;
    margin-right: 15px !important;
    width: 40px !important;
    height: 40px !important;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: all 0.25s ease !important;
}
.social-icons:hover{
    transition: all 0.25s ease !important;
    border-color: white !important;
}
.foot{
    background-color: #2a2a2a !important;
}
.footer-ul li{
   list-style: none !important;
       font-family: "DM Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 40px !important;
}
.footer-p{
     list-style: none !important;
       font-family: "DM Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 40px !important;
}
.footer-p:hover{
    cursor: pointer !important;
}
/* media queries */
@media screen and (max-width:566px) {
    .magic-div{
        width: 100% !important;
    }
    .magic-para{
        width: 100% !important;
    }
    .recipes-c1 p{
      font-size: 19px !important;
}
.recipes-h2{
      font-size: 40px !important;
}
.profile{
   width: 100% !important;
}
.client-div{
    width: 100% !important;
}
.first-div{
    width: 100% !important;
}
.first-div div{
    width: 100% !important;
}
.img-profile{
    width: 25% !important;
}
.customh2{
    font-size: 33px !important;
}
.p-custom{
    font-size: 22px !important;
}
.sweet-h2{
    font-size: 40px !important;
}
.sweet-gap{
    gap: 50px !important;
}
.me-custom{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.m-custom{
    margin-left: 0px !important;
}
.ques-div{
    width: 60% !important;
}
}
@media screen and (min-width:567px) and (max-width:767px) {
    .magic-div{
        width: 100% !important;
    }
    .magic-para{
        width: 80% !important;
    }
    .col-custom2{
  width: 40% !important;
}
.col-img2{
    width: 100% !important;
    border-radius: 10px !important;
}
.recipes-c1 p{
    font-size: 20px !important;
}
.profile{
   width: 90% !important;
}
.client-div{
    width: 80% !important;
}
.first-div{
    width: 100% !important;
}
.first-div div{
    width: 100% !important;
}
.img-profile{
    width: 22% !important;
}
.customh2{
    font-size: 40px !important;
}
.p-custom{
    font-size: 25px !important;
}
.sweet-h2{
    font-size: 40px !important;
}
.sweet-gap{
    gap: 50px !important;
}
.me-custom{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.m-custom{
    margin-left: 0px !important;
}
.ques-div{
    width: 50% !important;
}
}
@media screen and (min-width:768px) and (max-width:991px) {
     .magic-div{
        width: 80% !important;
    }
    .magic-para{
        width: 90% !important;
    }
    .crousel{
    font-size:39px !important ;
    font-weight: 400 !important;
}
.cl-h2{
    width: 60% !important;
}
 .col-custom2{
  width: 45% !important;
}
.col-img2{
    width: 100% !important;
    border-radius: 10px !important;
}
.profile{
   width: 80% !important;
}
.client-div{
    width: 45% !important;
}
.first-div{
    width: 100% !important;
}
.img-div{
    width: 30% !important;
}
.content-div{
    width: 75% !important;
}
.client-div div p{
    font-size: 14px !important;
}
.img-profile{
    width: 80% !important;
    height: 12vh !important;
}
.me-custom{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.m-custom{
    margin-left: 0px !important;
}
.ques-div{
    width: 50% !important;
}
}
@media screen and (min-width:992px) and (max-width:1199px) {
     .magic-div{
        width: 70% !important;
    }
    .magic-para{
        width: 76% !important;
    }
    .col-custom{
        width: 30% !important;
    }
    .col-img{
        width: 70% !important;
    }
    .img-h{
        margin-left: 100px !important;
    }
    .crousel{
    font-size:39px !important ;
    font-weight: 400 !important;
}
.cl-h2{
    width: 60% !important;
}
.col-custom2{
  width: 22% !important;
}
.col-img2{
    width: 100% !important;
    border-radius: 10px !important;
}
.profile{
   width: 60% !important;
}
.client-div{
    width: 45% !important;
}
.first-div{
    width: 100% !important;
}
.img-div{
    width: 30% !important;
}
.content-div{
    width: 75% !important;
}
.client-div div p{
    font-size: 14px !important;
}
.img-profile{
    width: 70% !important;
    height: 12vh !important;
}
.me-custom{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.m-custom{
    margin-left: 0px !important;
}
.ques-div{
    width: 30% !important;
}
}
@media screen and (min-width:1200px) and (max-width:1399px) {
     .magic-div{
        width: 70% !important;
    }
    .magic-para{
        width: 76% !important;
    }
    .col-custom{
        width: 30% !important;
    }
    .col-img{
        width: 70% !important;
    }
    .navdiv{
        width:70% !important;
    }
    .img-h{
        margin-left: 200px !important;
    }
    .gap-custom{
    gap: 120px !important;
    }
    .crousel{
    font-size:47px !important ;
    font-weight: 400 !important;
}
.customh2{
    width: 60% !important;
}
.col-custom2{
    width: 20% !important;
}
.client-div{
    width: 35% !important;
}
.first-div{
    width: 100% !important;
}
.img-div{
    width: 30% !important;
}
.content-div{
    width: 75% !important;
}
.client-div div p{
    font-size: 14px !important;
}
.img-profile{
    width: 70% !important;
    height: 10vh !important;
}
.me-custom{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.m-custom{
    margin-left: 0px !important;
}
.ques-div{
    width: 30% !important;
}
}
@media screen and (min-width:1400px) {
     .magic-div{
        width: 70% !important;
    }
    .magic-para{
        width: 76% !important;
    }
    .col-custom{
        width: 30% !important;
    }
    .col-img{
        width: 70% !important;
    }
    .navdiv{
        width:70% !important;
    }
    .img-h{
        margin-left: 250px !important;
    }
    .gap-custom{
    gap: 120px !important;
    }
    .crousel{
    font-size:47px !important ;
    font-weight: 400 !important;
}
.customh2{
    width: 60% !important;
}
.col-custom2{
  width: 20% !important;
}
.col-img2{
    width: 100% !important;
    border-radius: 10px !important;
}
.col-img2:hover{
     background-color: white !important;
     opacity: 0.5 !important;
}
.client-div{
    width: 35% !important;
}
.first-div{
    width: 100% !important;
}
.img-div{
    width: 30% !important;
}
.content-div{
    width: 75% !important;
}
.client-div div p{
    font-size: 16px !important;
}
.img-profile{
    width: 60% !important;
    height: 10vh !important;
}
.profile{
   width: 45% !important;
}
.sweet-gap{
    gap: 65px !important;
}
.ques-div{
    width: 25% !important;
}
}