@font-face {
    font-family: DM Sans;
    src: url("./fonts/DMSans-VariableFont_opsz\,wght.ttf");
}
.btn-custom{
    background-color: #5fcac7 !important;
    color: white !important;
    line-height: 40px !important;
    font-weight: 500 !important;
    padding: 0px 15px !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;

}
.specialties-h1{
    color: #4b4342 !important;
    line-height: 70px !important;
    font-size: 3.625rem !important;
    font-family: DM Sans !important;
}
.specialties-caption{
    color: #4b4342 !important;
    font-weight: 500 !important;
    text-align: center !important;
    font-family: DM Sans !important;
    font-size: 20px !important;
}
.bg1{
    background-image: url(./imges/background\ img\ 1.jpg) !important;
    padding-top: 90px !important;
}
.bg2{
    background-image: url(./imges/background\ img\ 2.jpg) !important;
    background-color: rgb(95, 202, 199) !important;
}
