@font-face {
    font-family: DM Sans;
    src: url("./fonts/DMSans-VariableFont_opsz\,wght.ttf");
}
.img-h{
    height: 135px !important;
}
.btn-custom{
    background-color: #5fcac7 !important;
    color: white !important;
    line-height: 40px !important;
    font-weight: 500 !important;
    padding: 0px 15px !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;
}
.btn-custom:hover{
    background-color: #4ca7a2 !important;
}
.cl-1{  
     background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("./imges/carousel1.jpg") !important;
  background-size: cover;
  background-position: center;
    height: 120vh !important;
    width: 100% !important;
}
.cl-2{
     background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("./imges/carousel\ 2.jpg") !important;
  background-size: cover;
  background-position: center;
    height: 120vh !important;
    width: 100% !important;
}
.cl-3{
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("./imges/carousel\ 3.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    height: 120vh !important;
    width: 100% !important;
}
.font-custom{
    font-family: DM Sans !important;
}
.btn2-custom{
    background-color: #5fcac7 !important;
    color: white !important;
    line-height: 40px !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    padding: 10px 30px !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;
    font-family: DM Sans !important;
}
.specialties-h1{
    color: #4b4342 !important;
    line-height: 70px !important;
    font-size: 3.625rem !important;
    font-family: DM Sans !important;
}
.specialties-caption{
    color: #4b4342 !important;
    font-weight: 500 !important;
    text-align: center !important;
    font-family: DM Sans !important;
    font-size: 20px !important;
}
.bg1{
    background-image: url(./imges/background\ img\ 1.jpg) !important;
    padding-top: 90px !important;
}
.bg2{
    background-image: 
    linear-gradient(   
      rgb(95, 202, 199, 0.8)
    ),
    url("./imges/background\ img\ 2.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.h-custom{
    height: 90vh !important ;
}
.magic-div{
    padding: 65px 0px 75px 0px !important;
    border: 2px solid white;
    border-radius: 10px !important;
    width: 60% !important;
}
.cake i{
    font-size: 62px !important;
}
.magic-para{
     font-family: DM Sans !important;
     font-weight: 400 !important;
     font-size: 16px !important;
     line-height:26px !important;
     width: 62% !important;
}
.btn3-custom{
    border: 2px solid white !important;
    color: white !important;
    border-radius: 50px !important;
    line-height: 50px !important;
    font-weight: 500 !important;
    padding: 0px 25px !important;
    font-size: 18px !important;
     font-family: DM Sans !important;
}
.btn3-custom:hover{
    background-color: white !important;
    color: #4b4342 !important;   
}
.magic-h2{
     font-family: DM Sans !important; 
}
.custom:hover{
    border-bottom: 2px solid #5fcac7 !important;
}
.p-custom{
    font-size: 25px !important;
    font-weight: 400 !important;
    font-family: DM Sans !important;
}
/* media queries */
@media screen and (max-width:566px) {
    .magic-div{
        width: 100% !important;
    }
    .magic-para{
        width: 100% !important;
    }
}
@media screen and (min-width:567px) and (max-width:767px) {
    .magic-div{
        width: 100% !important;
    }
    .magic-para{
        width: 80% !important;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
     .magic-div{
        width: 80% !important;
    }
    .magic-para{
        width: 90% !important;
    }
    .crousel{
    font-size:39px !important ;
    font-weight: 400 !important;
}
}
@media screen and (min-width:992px) and (max-width:1199px) {
     .magic-div{
        width: 70% !important;
    }
    .magic-para{
        width: 76% !important;
    }
    .col-custom{
        width: 30% !important;
    }
    .col-img{
        width: 70% !important;
    }
    .img-h{
        margin-left: 100px !important;
    }
    .crousel{
    font-size:39px !important ;
    font-weight: 400 !important;
}
}
@media screen and (min-width:1200px) and (max-width:1399px) {
     .magic-div{
        width: 70% !important;
    }
    .magic-para{
        width: 76% !important;
    }
    .col-custom{
        width: 30% !important;
    }
    .col-img{
        width: 70% !important;
    }
    .navdiv{
        width:70% !important;
    }
    .img-h{
        margin-left: 200px !important;
    }
    .gap-custom{
    gap: 120px !important;
    }
    .crousel{
    font-size:47px !important ;
    font-weight: 400 !important;
}
.customh2{
    width: 60% !important;
}
}
@media screen and (min-width:1400px) {
     .magic-div{
        width: 70% !important;
    }
    .magic-para{
        width: 76% !important;
    }
    .col-custom{
        width: 30% !important;
    }
    .col-img{
        width: 70% !important;
    }
    .navdiv{
        width:70% !important;
    }
    .img-h{
        margin-left: 250px !important;
    }
    .gap-custom{
    gap: 120px !important;
    }
    .crousel{
    font-size:47px !important ;
    font-weight: 400 !important;
}
.customh2{
    width: 60% !important;
}
}